<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
        <listener class-name="Listener.TestListener"/>
         <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"/>
        
   	 </listeners>
 <test name="CucumberTest">
        <!-- Specify the class containing the TestNG-Cucumber runner -->
        
        <classes>
            <class name="TestRunner.CucumberTestRunner"/>
        </classes>
    </test>
</suite> <!-- Suite -->
